* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(101, 101, 101);
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

header {
  background: linear-gradient(
      to right,
      rgba(255, 0, 0, 0.2),
      rgba(255, 0, 0, 0.2)
    ),
    url("../images/home-background.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
}

.mobile-navigation {
  padding: 10px 15px 0 15px;
}

.web-navigation {
  display: none;
}

.logo img {
  height: auto;
  width: 100px;
}

.menu a {
  color: rgb(255, 255, 255);
  font-size: 22px;
}

.utilities {
  display: none;
}

.intro {
  margin-top: 50px;
}

.service-card {
  border-radius: 5px;
  box-shadow: 3px 3px 15px 3px rgb(240, 240, 240);
  margin-top: 20px;
  padding: 15px 10px 20px 10px;
}

.service-card a {
  color: rgb(101, 101, 101);
}

.service-card:hover {
  border: 1.5px solid rgb(81, 194, 132);
  transition: all 0.3s ease;
}

.service-card img {
  height: auto;
  width: 100px;
}

.affiliate-banner {
  background: linear-gradient(to right,rgba(39, 39, 39, 0.3),rgba(30, 31, 30, 0.3)),url("../images/affiliate-bg.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
  height: auto;
  margin-top: 50px;
  padding: 30px 10px 20px 10px;
  text-align: center;
}

.community-image img {
  height: auto;
  width: 100%;
}

.community-word {
  margin-top: 30px;
}

.benefits-one,
.benefits-two {
  margin-left: 20px;
  padding: 0;
  list-style-type: square;
}

.partner-logo img {
  height: auto;
  width: 90px;
}

.footer {
  padding-bottom: 50px;
}

.get-started {
  margin: 50px 0;
}

.footer-links {
  margin-bottom: 30px;
  padding-right: 50px;
}

.contact a {
  display: block;
  padding: 10px 0;
}

.contact a:last-child {
  padding-bottom: 0;
}

.socials a {
  padding-right: 15px;
}

/* Our Core Values in About Page */

.about-header {
  background: linear-gradient(
      to right,
      rgba(41, 41, 41, 0.7),
      rgba(38, 39, 39, 0.8)
    ),
    url("../images/about-bg.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.about-farmkonnect {
  text-align: center;
  margin-top: 35px;
}

.our-core {
  text-align: center;
}

.our-core img {
  height: auto;
  width: 70px;
}

.our-vision-img, .our-mission-img, .our-business-img {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(81, 194, 132);
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  margin-bottom: 15px;
  padding: 10px 0;
  width: 100px;
}


.our-core > div {
  margin-top: 35px;
}

.history {
  margin-top: 80px;
}

.stakeholders h3 {
  margin-bottom: 80px;
}

.group-card {
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px 2px rgb(182, 182, 182);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 80px;
  padding: 20px 10px 65px 10px;
  position: relative;
}

.group-card img {
  height: auto;
  position: absolute;
  top: -55px;
  right: 35%;
  width: 70px;
}

.philosophy {
  margin: 0;
  padding: 0;
}

.btn-special {
  border: 2px solid rgb(182, 182, 182);
  border-radius: 25px;
  font-size: 10px;
  outline: none;
  padding: 10px 10px;
}

.btn-special:first-child {
  margin-left: 0;
}

.btn-special:hover {
  background: rgb(85, 216, 129);
  border: 1px solid rgb(39, 39, 39);
  color: rgb(255, 255, 255);
  outline: none;
  transition: all .4s ease
}

.values-title button.active-value {
  background-color: rgb(85, 216, 129);
  border: 1px solid rgb(39, 39, 39);
  color: rgb(255, 255, 255);
}

.values-card {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 2px 2px 10px 2px rgb(211, 211, 211);
  margin-top: 35px;
  padding: 15px 20px;
  text-align: center;
}

.values-card h4 {
  font-weight: 600;
}

.values-card img {
  height: auto;
  width: 100px;
}

.core-values {
  margin: 50px 0; 
}

.values {
  margin-top: 50px;
}

.core-values h2 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.values-card p {
  line-height: 1.8;
}



/* Projects Page Styling */

.project-header {
  background: linear-gradient(
      to right,
      rgba(41, 41, 41, 0.7),
      rgba(38, 39, 39, 0.8)
    ),
    url("../images/project-bg.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.projects-header {
  margin-bottom: 50px;
  margin-top: 50px;

}

.projects-header h2 {
  font-weight: 600;
}

.project-card {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 2px 2px 10px 2px rgb(220, 220, 220);
  margin-top: 30px; 
}

.project-image img {
  height: auto;
  width: 100%;
}

.project-writeup {
  padding: 15px 12px;
}

.project-writeup h3 {
  font-weight: 600;
  text-align: center;
}

.project-writeup p {
  text-align: justify;
}


.approach-title {
  margin-top: 60px;
}

.approach-title h2 {
  font-weight: 600;
}


.approach-group {
  margin-top: 80px;
}

.project-approach {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  bottom: 0;
  box-shadow: 2px 2px 10px 2px rgb(220, 220, 220);
  height: 320px;
  left: 0;
  margin-bottom: 60px;
  padding: 80px 10px 15px 10px;
  position: relative;
  right: 0;
  top: 0;
  text-align: center;
}



.approach-image {
  background: rgb(245, 245, 245);
  border-radius: 50%;
  box-shadow: 2px 2px 15px 2px rgb(200, 200, 200);
  height: 90px;
  left: 35%;
  padding-left: 0px;
  padding-top: 12px;
  position: absolute;
  text-align: center;
  top: -30px;
  width: 90px;
}

.approach-image img {
  height: auto;
  width: 60px;
}

.approach-desc h3 {
  font-weight: 600;
}





/* Representative Network Styling */

.rep {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 2px 2px 10px 2px rgb(220, 220, 220);
  cursor: pointer;
  margin-bottom: 30px; 
  padding: 15px 10px;
  text-align: center;
}

.card h5 {
  font-weight: 600;
}

.rep:hover {
  border: 2px solid rgb(81, 194, 132);
  transition: all .3s ease;
}

.rep-image {
  background: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 2px 2px 10px 2px rgb(220, 220, 220);
  height: 120px;
  margin-bottom: 5px;
  position: relative;
  width: 120px;
}

.rep-image img {
  height: auto;
  position: absolute;
  left: 0;
  width: 100%;
}




/* Contact Page Styling */


.phone-contact, .address-contact, .email-contact, .social-contact {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 2px 2px 8px 2px rgb(182, 182, 182);
  cursor: pointer;
  margin-top: 20px;
  padding: 15px 10px;
  text-align: center;
}

.phone-contact a {
  display: block;
}
.social-contact a {
  font-size: 20px;
  margin-left: 15px;
}

.contact-icon {
  font-size: 22px;
}

.contact-form {
  margin-top: 50px;
}

.input label {
  display: block;
}

.input input, .input select {
  border: 1px solid rgb(101, 101, 101);
  border-radius: 4px;
  display: block;
  margin-bottom: 15px;
  padding: 10px 5px;
  width: 100%;
}


textarea {
  border: 1px solid rgb(101, 101, 101);
  border-radius: 4px;
  padding: 10px;
  outline: none;
  width: 100%;
}

.map img{
  height: auto;
  margin-bottom: 35px;
  width: 100%;
}
